.di-tooltip {
    position: absolute;
    border: 1px solid black;
    visibility: hidden;
    top: 0;
    left: 0;
    background-color: white;
    border-radius: 3px;
    text-align: center;
    opacity: 0;
    z-index: 500;
}

.di-tooltip-open {
    visibility: visible;
    opacity: 1;
}